.cv {
    text-align: left;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    box-shadow: 5px 5px 6px black;
    padding-bottom: 15px;
}

.job {
    border-bottom: 1px solid black;
}

.job > p {
    margin-left: 10px;
}

.job:nth-child(odd) {
    background-color: whitesmoke;
}

.job:nth-child(even) {
    background-color: snow;
}

.job:last-child {
    border: none;
}