.footer {
    margin-top: 20px;
    max-width: 500px;
    position: relative;
    left: 10%;
    display: inline-block;
  }
  
  .footer-img {
    height: 50%;
    width: 50%;
    box-shadow: none;
  }

  @media screen and (max-width: 991px) {
    .footer {
      width: 100%;
    }
  }