.menu {
    float: left;
    width: 100%;
    margin-top: 100px;
}

.menu > a > button {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.7);
    border-style: none;
    color: ghostwhite;
}

.menu > a > button > h4 {
    text-shadow: 2px 2px black;
} 

.menu > a:hover {
    text-decoration: none;
}

.menu > a:hover > button > h4 {
    color: black;
    text-shadow: none;
}